.starrating__item {
	font-size: 120%;
	display: block;
	float: left;
	padding-left: 4px;
}
.starrating__item:first-child {
	padding-left: 0;
}
.starrating--input .starrating__item {
	cursor: pointer;
}
.starrating__item {
	color: silver;
}
.starrating--active-1 .starrating__item--1,
.starrating--active-2 .starrating__item--1,
.starrating--active-2 .starrating__item--2,
.starrating--active-3 .starrating__item--1,
.starrating--active-3 .starrating__item--2,
.starrating--active-3 .starrating__item--3,
.starrating--active-4 .starrating__item--1,
.starrating--active-4 .starrating__item--2,
.starrating--active-4 .starrating__item--3,
.starrating--active-4 .starrating__item--4,
.starrating--active-5 .starrating__item--1,
.starrating--active-5 .starrating__item--2,
.starrating--active-5 .starrating__item--3,
.starrating--active-5 .starrating__item--4,
.starrating--active-5 .starrating__item--5 {
	color: orange;
}
